# Conectando ao DB Postegres, para coleta de dados

Pedro H. N. Sobrinho (PSobrinho)

Mail: pedrosobrinho.physics@gmail.com

LinkedIn: https://www.linkedin.com/in/pedro-sobrinho-b84879108/

Instagram: https://www.instagram.com/phnsobrinho/?hl=pt-br

Construído com o objetivo de estudar a conecção e acessoa à dados em bases de dado Postgres. o presente notebook faz parte do estudo de analise, exploração e vizualização de dados, do conjunto 'used_cars_german'. Sendo assim disponibilizado de forma aberta para consulta e estudo por terceiros. 

Observe que:

* Foi utilizada uma base de dados local para treino, isto é, as credenciais de acesso aqui utilizada são locais.

* Os 'Result Sets' gerados foram organizado e convertidos em diferentes 'DataFrames' para cada etapa da posterior análise. Sendo estas:

    * **Distribuição de veículos com base no ano de registro**;
    * **Variações de faixa de preço pelo tipo de veículo**;
    * **Contagem total de veículos à venda conforme tipo de veículo**;
    * **Nº de veículos por marcas**;
    * **Preço médio com base no tipo de veículo, bem como no tipo de caixa de câmbio**;
    * **Preço médio do veículo por tipo de combustível e caixa de câmbio**;
    * **Potência Média por tipo de veículo e caixa de câmbio**.

# Conectando ao BD Postegres

In [0]:
import psycopg2 #pacote para interação com BD Postgres

In [0]:
#Criando a conecção com o banco de dados (local)
conn = psycopg2.connect(host = 'localhost',
                        port = 5432,
                        dbname = 'studies',
                        user = 'youruser',
                        password = 'yourpass')

In [0]:
#criando um cursor para acessar os dados no BD
cur = conn.cursor

# Buscando dados via queries com Pandas

A Ideia aqui é utilizar Queries SQL para buscar dados no BD, e salvar os 'result sets' como arquivos .csv

In [0]:
import pandas as pd #importando Pandas usando o 'alias' pd

**O DataSet original**

In [0]:
df = pd.read_sql('SELECT * FROM usedcars;',
                 conn)

print(df)

               datecrawled                                               name  \
0      2016-03-24 11:52:17                                         Golf_3_1.6
1      2016-03-24 10:58:45                               A5_Sportback_2.7_Tdi
2      2016-03-14 12:52:21                       Jeep_Grand_Cherokee_Overland
3      2016-03-17 16:54:04                                 GOLF_4_1_4__3TÜRER
4      2016-03-31 17:25:20                     Skoda_Fabia_1.4_TDI_PD_Classic
5      2016-04-04 17:36:23  BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...
6      2016-04-01 20:48:51                        Peugeot_206_CC_110_Platinum
7      2016-03-21 18:54:38                       VW_Derby_Bj_80__Scheunenfund
8      2016-04-04 23:42:13               Ford_C___Max_Titanium_1_0_L_EcoBoost
9      2016-03-17 10:53:50  VW_Golf_4_5_tuerig_zu_verkaufen_mit_Anhaengerk...
10     2016-03-26 19:54:18                                  Mazda_3_1.6_Sport
11     2016-04-07 10:06:22      Volkswagen_Passat_Variant_2.0_TDI_Comfortline
12     2016-03-15 22:49:09                    VW_Passat_Facelift_35i__7Sitzer
13     2016-03-21 21:37:40                     VW_PASSAT_1.9_TDI_131_PS_LEDER
14     2016-03-21 12:57:01  Nissan_Navara_2.5DPF_SE4x4_Klima_Sitzheizg_Blu...
15     2016-03-11 21:39:15                       KA_Lufthansa_Edition_450€_VB
16     2016-04-01 12:46:46                                        Polo_6n_1_4
17     2016-03-20 10:25:19                        Renault_Twingo_1.2_16V_Aut.
18     2016-03-23 15:48:05                   Ford_C_MAX_2.0_TDCi_DPF_Titanium
19     2016-04-01 22:55:47                  Mercedes_Benz_A_160_Classic_Klima
20     2016-04-01 19:56:48                  Volkswagen_Scirocco_1.4_TSI_Sport
21     2016-03-27 11:38:00  BMW_530i_TÜV_7/17_Scheckheftgepflegt_sehr_gute...
22     2016-03-23 14:52:51                      Opel_Meriva_1.Hand_TÜV_3.2018
23     2016-03-12 19:43:07                                       Stadtflitzer
24     2016-03-13 20:40:49                         MERCEDES_200E__TÜV_04/2016
25     2016-03-18 21:44:09              BMW_530d_touring_Vollausstattung_NAVI
26     2016-03-10 19:38:18                          Citroen_C4_Grand_Picasso.
27     2016-03-07 12:51:23                     Honda_Civic_1.4_i_VTEC_Comfort
28     2016-03-09 11:56:38                               Volkswagen_T3_andere
29     2016-03-08 19:55:19                                     Fiat_Punto_1.2
...                    ...                                                ...
189319 2016-03-11 15:50:38                            Opel_Vectra_Edition_100
189320 2016-03-08 13:52:00  OPEL_CORSA_B__ECO_SWING__TÜV_1/17_8fach_Bereif...
189321 2016-03-21 23:40:49  Volkswagen_Golf_1.4_TSI_BlueMotion_Technology_...
189322 2016-03-26 18:36:54                                   Chrysler_Voyager
189323 2016-04-01 12:59:21                                  Audi_A4_Avant_1.8
189324 2016-04-01 01:55:58                                   Subaru_Justy_1.3
189325 2016-03-07 17:06:35                                       220_cdi_Benz
189326 2016-04-03 19:56:57                   Opel_Astra_1.6_Caravan_Selection
189327 2016-03-20 18:47:59  Volkswagen_Golf_1.9_TDI_DPF_Goal_Rentnerfzg._1...
189328 2016-03-16 17:06:19  Gepflegter_Audi_a4_2.0tdi_xenon_ahk_klima_sche...
189329 2016-04-02 16:43:27                                     Opel_Astra_1.8
189330 2016-03-11 23:40:32  LT_35_DIESEL_Gruene_Plakette....letzte_Gelegen...
189331 2016-03-06 21:11:23  Mercedes_benz_e_klasse_avangarde_220_cdi_grune...
189332 2016-03-31 18:50:37                           Audi_A3_1.8_T_Attraction
189333 2016-03-25 18:48:06                 Mercedes_Benz_E_400_CDI_Avantgarde
189334 2016-03-21 15:36:22                       Seat_Leon_1.9_TDI_4/5_Tueren
189335 2016-04-04 11:45:16                 Renault_1_4_ltr.16_V_Megane_Cabrio
189336 2016-03-09 11:36:55                              Skoda_Fabia_Kombi_1.4
189337 2016-04-04 09:57:12                                Volkswagen_Lupo_1.0
189338 2016-03-28 13:48:07                   Volkswagen_Golf_2.0_TDI_DPF_Team
189339 2016-04-02 20:37:03                          Bmw_320_D_DPF_Touring_!!!
189340 2016-03-09 13:37:43  Alfa_Romeo_159_Jtdm_1.9_150_ps_13_600_km_top_voll
189341 2016-03-19 19:53:49                                       turbo_defekt
189342 2016-03-27 20:36:20                 Opel_Zafira_1.6_Elegance_TÜV_12/16
189343 2016-03-21 09:50:58                                    Mitsubishi_Cold
189344 2016-03-14 17:48:27                         Suche_t4___vito_ab_6_sitze
189345 2016-03-05 19:56:21              Smart_smart_leistungssteigerung_100ps
189346 2016-03-19 18:57:12                 Volkswagen_Multivan_T4_TDI_7DC_UY2
189347 2016-03-20 19:41:08                             VW_Golf_Kombi_1_9l_TDI
189348 2016-03-07 19:39:19       BMW_M135i_vollausgestattet_NP_52.720____Euro

        seller offertype    price   abtest vehicletype  yearofregistration  \
0       privat   Angebot    480.0     test        None                1993
1       privat   Angebot  18300.0     test       coupe                2011
2       privat   Angebot   9800.0     test         suv                2004
3       privat   Angebot   1500.0     test  kleinwagen                2001
4       privat   Angebot   3600.0     test  kleinwagen                2008
5       privat   Angebot    650.0     test   limousine                1995
6       privat   Angebot   2200.0     test      cabrio                2004
7       privat   Angebot      0.0     test   limousine                1980
8       privat   Angebot  14500.0  control         bus                2014
9       privat   Angebot    999.0     test  kleinwagen                1998
10      privat   Angebot   2000.0  control   limousine                2004
11      privat   Angebot   2799.0  control       kombi                2005
12      privat   Angebot    999.0  control       kombi                1995
13      privat   Angebot   2500.0  control       kombi                2004
14      privat   Angebot  17999.0  control         suv                2011
15      privat   Angebot    450.0     test  kleinwagen                1910
16      privat   Angebot    300.0     test        None                2016
17      privat   Angebot   1750.0  control  kleinwagen                2004
18      privat   Angebot   7550.0     test         bus                2007
19      privat   Angebot   1850.0     test         bus                2004
20      privat   Angebot  10400.0  control       coupe                2009
21      privat   Angebot   3699.0     test   limousine                2002
22      privat   Angebot   2900.0     test        None                2018
23      privat   Angebot    450.0     test  kleinwagen                1997
24      privat   Angebot    500.0     test   limousine                1990
25      privat   Angebot   2500.0  control       kombi                2002
26      privat   Angebot   5555.0  control        None                2017
27      privat   Angebot   6900.0     test   limousine                2008
28      privat   Angebot   1990.0     test         bus                1981
29      privat   Angebot    690.0     test  kleinwagen                2003
...        ...       ...      ...      ...         ...                 ...
189319  privat   Angebot    699.0  control   limousine                1999
189320  privat   Angebot    600.0  control  kleinwagen                1998
189321  privat   Angebot  20400.0     test   limousine                2014
189322  privat   Angebot   3900.0     test         bus                2003
189323  privat   Angebot   1600.0     test       kombi                1998
189324  privat   Angebot   1700.0  control  kleinwagen                1999
189325  privat   Angebot   2600.0  control        None                2005
189326  privat   Angebot    800.0     test       kombi                2000
189327  privat   Angebot   5900.0     test   limousine                2006
189328  privat   Angebot   5999.0     test       kombi                2005
189329  privat   Angebot   1400.0  control   limousine                2001
189330  privat   Angebot   1900.0     test        None                2000
189331  privat   Angebot   6500.0     test   limousine                2003
189332  privat   Angebot   1999.0  control   limousine                1997
189333  privat   Angebot   5000.0     test   limousine                2003
189334  privat   Angebot   4400.0  control   limousine                2008
189335  privat   Angebot    999.0  control      cabrio                2000
189336  privat   Angebot   1690.0     test       kombi                2004
189337  privat   Angebot   1490.0  control  kleinwagen                1998
189338  privat   Angebot   7900.0     test   limousine                2010
189339  privat   Angebot   3999.0     test       kombi                2005
189340  privat   Angebot   5250.0  control        None                2016
189341  privat   Angebot   3200.0  control   limousine                2004
189342  privat   Angebot   1150.0  control         bus                2000
189343  privat   Angebot      0.0  control        None                2005
189344  privat   Angebot   2200.0     test        None                2005
189345  privat   Angebot   1199.0     test      cabrio                2000
189346  privat   Angebot   9200.0     test         bus                1996
189347  privat   Angebot   3400.0     test       kombi                2002
189348  privat   Angebot  28990.0  control   limousine                2013

          gearbox  powerps        model  kilometer  monthofregistration  \
0         manuell      0.0         golf   150000.0                    0
1         manuell    190.0         None   125000.0                    5
2       automatik    163.0        grand   125000.0                    8
3         manuell     75.0         golf   150000.0                    6
4         manuell     69.0        fabia    90000.0                    7
5         manuell    102.0          3er   150000.0                   10
6         manuell    109.0      2_reihe   150000.0                    8
7         manuell     50.0       andere    40000.0                    7
8         manuell    125.0        c_max    30000.0                    8
9         manuell    101.0         golf   150000.0                    0
10        manuell    105.0      3_reihe   150000.0                   12
11        manuell    140.0       passat   150000.0                   12
12        manuell    115.0       passat   150000.0                   11
13        manuell    131.0       passat   150000.0                    2
14        manuell    190.0       navara    70000.0                    3
15           None      0.0           ka     5000.0                    0
16           None     60.0         polo   150000.0                    0
17      automatik     75.0       twingo   150000.0                    2
18        manuell    136.0        c_max   150000.0                    6
19        manuell    102.0     a_klasse   150000.0                    1
20        manuell    160.0     scirocco   100000.0                    4
21      automatik    231.0          5er   150000.0                    7
22        manuell     90.0       meriva   150000.0                    5
23        manuell     50.0        arosa   150000.0                    5
24        manuell    118.0       andere   150000.0                   10
25      automatik    193.0          5er   150000.0                    9
26        manuell    125.0           c4   125000.0                    4
27        manuell     99.0        civic    60000.0                   11
28        manuell     50.0  transporter     5000.0                    1
29        manuell     60.0        punto   150000.0                    3
...           ...      ...          ...        ...                  ...
189319    manuell    101.0       vectra   150000.0                    3
189320    manuell     54.0        corsa   150000.0                    1
189321  automatik    150.0         golf    30000.0                    9
189322  automatik    174.0      voyager   150000.0                    7
189323    manuell    125.0           a4   150000.0                    2
189324    manuell     68.0        justy    70000.0                   11
189325  automatik      0.0     c_klasse   150000.0                    9
189326    manuell    101.0        astra   150000.0                   11
189327    manuell    105.0         golf   150000.0                    9
189328    manuell    140.0           a4   150000.0                    4
189329    manuell    125.0        astra   150000.0                    2
189330    manuell    110.0         None   150000.0                    7
189331  automatik    145.0     e_klasse   150000.0                    3
189332    manuell    150.0           a3   150000.0                   12
189333  automatik    260.0     e_klasse   150000.0                   12
189334    manuell    105.0         leon   150000.0                    7
189335    manuell     95.0       megane   150000.0                    4
189336    manuell     55.0        fabia   150000.0                    4
189337    manuell     50.0         lupo   150000.0                    9
189338    manuell    140.0         golf   150000.0                    7
189339    manuell      3.0          3er   150000.0                    5
189340  automatik    150.0          159   150000.0                   12
189341    manuell    225.0         leon   150000.0                    5
189342    manuell      0.0       zafira   150000.0                    3
189343    manuell      0.0         colt   150000.0                    7
189344       None      0.0         None    20000.0                    1
189345  automatik    101.0       fortwo   125000.0                    3
189346    manuell    102.0  transporter   150000.0                    3
189347    manuell    100.0         golf   150000.0                    6
189348    manuell    320.0      m_reihe    50000.0                    8

       fueltype           brand notrepaireddamage datecreated  nrofpictures  \
0        benzin      volkswagen              None  2016-03-24             0
1        diesel            audi                ja  2016-03-24             0
2        diesel            jeep              None  2016-03-14             0
3        benzin      volkswagen              nein  2016-03-17             0
4        diesel           skoda              nein  2016-03-31             0
5        benzin             bmw                ja  2016-04-04             0
6        benzin         peugeot              nein  2016-04-01             0
7        benzin      volkswagen              nein  2016-03-21             0
8        benzin            ford              None  2016-04-04             0
9          None      volkswagen              None  2016-03-17             0
10       benzin           mazda              nein  2016-03-26             0
11       diesel      volkswagen                ja  2016-04-07             0
12       benzin      volkswagen              None  2016-03-15             0
13         None      volkswagen              nein  2016-03-21             0
14       diesel          nissan              nein  2016-03-21             0
15       benzin            ford              None  2016-03-11             0
16       benzin      volkswagen              None  2016-04-01             0
17       benzin         renault              nein  2016-03-20             0
18       diesel            ford              nein  2016-03-23             0
19       benzin   mercedes_benz              nein  2016-04-01             0
20       benzin      volkswagen              nein  2016-04-01             0
21       benzin             bmw              nein  2016-03-27             0
22       benzin            opel              nein  2016-03-23             0
23       benzin            seat              nein  2016-03-12             0
24       benzin   mercedes_benz                ja  2016-03-13             0
25       diesel             bmw                ja  2016-03-18             0
26         None         citroen              nein  2016-03-10             0
27       benzin           honda              nein  2016-03-07             0
28       benzin      volkswagen              nein  2016-03-09             0
29       benzin            fiat              nein  2016-03-08             0
...         ...             ...               ...         ...           ...
189319   benzin            opel              None  2016-03-11             0
189320   benzin            opel              nein  2016-03-08             0
189321   benzin      volkswagen              nein  2016-03-21             0
189322   benzin        chrysler              nein  2016-03-26             0
189323   benzin            audi              nein  2016-04-01             0
189324   benzin          subaru              nein  2016-03-31             0
189325     None   mercedes_benz              None  2016-03-07             0
189326   benzin            opel                ja  2016-04-03             0
189327   diesel      volkswagen              nein  2016-03-20             0
189328   diesel            audi              None  2016-03-16             0
189329   benzin            opel              nein  2016-04-02             0
189330     None      volkswagen              nein  2016-03-11             0
189331   diesel   mercedes_benz              nein  2016-03-05             0
189332   benzin            audi              nein  2016-03-31             0
189333   diesel   mercedes_benz                ja  2016-03-25             0
189334   diesel            seat              nein  2016-03-21             0
189335   benzin         renault              None  2016-04-04             0
189336   benzin           skoda              None  2016-03-09             0
189337   benzin      volkswagen              nein  2016-04-04             0
189338   diesel      volkswagen              nein  2016-03-28             0
189339   diesel             bmw              nein  2016-04-02             0
189340     None      alfa_romeo              nein  2016-03-09             0
189341   benzin            seat                ja  2016-03-19             0
189342   benzin            opel              nein  2016-03-27             0
189343   benzin      mitsubishi                ja  2016-03-21             0
189344     None  sonstige_autos              None  2016-03-14             0
189345   benzin           smart              nein  2016-03-05             0
189346   diesel      volkswagen              nein  2016-03-19             0
189347   diesel      volkswagen              None  2016-03-20             0
189348   benzin             bmw              nein  2016-03-07             0

        postalcode            lastseen
0            70435 2016-04-07 03:16:57
1            66954 2016-04-07 01:46:50
2            90480 2016-04-05 12:47:46
3            91074 2016-03-17 17:40:17
4            60437 2016-04-06 10:17:21
5            33775 2016-04-06 19:17:07
6            67112 2016-04-05 18:18:39
7            19348 2016-03-25 16:47:58
8            94505 2016-04-04 23:42:13
9            27472 2016-03-31 17:17:06
10           96224 2016-04-06 10:45:34
11           57290 2016-04-07 10:25:17
12           37269 2016-04-01 13:16:16
13           90762 2016-03-23 02:50:54
14            4177 2016-04-06 07:45:42
15           24148 2016-03-19 08:46:47
16           38871 2016-04-01 12:46:46
17           65599 2016-04-06 13:16:07
18           88361 2016-04-05 18:45:11
19           49565 2016-04-05 22:46:05
20           75365 2016-04-05 16:45:49
21           68309 2016-04-07 06:44:26
22           49716 2016-03-31 01:16:33
23            9526 2016-03-21 01:46:11
24           35390 2016-03-13 20:40:49
25           73765 2016-03-18 21:44:09
26           31139 2016-03-16 09:16:46
27           12621 2016-03-26 09:44:53
28           87471 2016-03-10 07:44:33
29           86199 2016-03-09 11:45:28
...            ...                 ...
189319       65936 2016-03-17 12:44:29

**Distribuição de veículos com base no ano de registro**

Para esse DataFrame, as informações relevantes são os anos de registro e a contagem de registros associados a cada ano na tabela.

In [0]:
#Começamos por buscar no banco de dados os dados relevantes:
df1 = pd.read_sql("SELECT yearofregistration, COUNT(*) AS yearcount FROM usedcars GROUP BY yearofregistration", 
                  conn)

print(df1)

     yearofregistration  yearcount
0                  1000         21
1                  1111          1
2                  1200          1
3                  1234          2
4                  1300          2
5                  1400          1
6                  1500          2
7                  1602          1
8                  1800          4
9                  1910         46
10                 1915          1
11                 1919          1
12                 1928          1
13                 1929          3
14                 1930          3
15                 1931          2
16                 1933          3
17                 1934          3
18                 1935          3
19                 1936          4
20                 1937          4
21                 1938          3
22                 1939          2
23                 1940          1
24                 1941          1
25                 1942          1
26                 1943          3
27                 1945          1
28                 1946          1
29                 1947          3
..                  ...        ...
97                 2016       5059
98                 2017       5432
99                 2018       2069
100                2019         13
101                2066          1
102                2200          1
103                2222          1
104                2290          1
105                2500          2
106                2800          1
107                2900          1
108                3000          3
109                3200          1
110                3800          1
111                4000          1
112                4500          2
113                5000          7
114                5900          1
115                5911          1
116                6000          1
117                6500          1
118                7000          3
119                7500          1
120                7777          1
121                7800          1
122                8000          2
123                8888          2
124                9000          3
125                9450          1
126                9999         15

[127 rows x 2 columns]

Note que o ResultSet obtido contém dados que, provavelmente, são equivocados. Logo, vale uma limpeza no DataFrame.

In [0]:
#Na ocasião da preparação desse notebook o ano é 2020, então vamos considerar registros feitos nos últimos 120 anos
#(considerando que a primeira patente de automóvel fez 130 anos em 2016), isto é vamos considerar apenas anos de registro
#que estão entre 1900 e 2020:

df1_clean = df1.loc[(df1['yearofregistration'] >= 1900) & (df1['yearofregistration'] <= 2020)]

df1_clean = df1_clean.reset_index(drop = True)

print(df1_clean)

    yearofregistration  yearcount
0                 1910         46
1                 1915          1
2                 1919          1
3                 1928          1
4                 1929          3
5                 1930          3
6                 1931          2
7                 1933          3
8                 1934          3
9                 1935          3
10                1936          4
11                1937          4
12                1938          3
13                1939          2
14                1940          1
15                1941          1
16                1942          1
17                1943          3
18                1945          1
19                1946          1
20                1947          3
21                1949          2
22                1950         11
23                1951         10
24                1952          4
25                1953         10
26                1954         11
27                1955         14
28                1956         14
29                1957         14
..                 ...        ...
62                1990       1519
63                1991       1416
64                1992       1579
65                1993       1771
66                1994       2454
67                1995       4840
68                1996       5488
69                1997       7433
70                1998       9180
71                1999      11637
72                2000      12402
73                2001      10289
74                2002       9790
75                2003      10114
76                2004      10060
77                2005      11423
78                2006      10361
79                2007       9005
80                2008       8168
81                2009       7982
82                2010       6301
83                2011       6113
84                2012       4891
85                2013       3200
86                2014       2445
87                2015       1523
88                2016       5059
89                2017       5432
90                2018       2069
91                2019         13

[92 rows x 2 columns]

In [0]:
#Com os dados coletados e limpos, resta salvar o dataset:
df1_clean.to_csv('../data/df1_yearcount.csv', sep = ';', index = False)

Todos os DataFrames a seguir seguirão esse procedimento:
* Coleta de dados via query;
* Limpeza de dados, provavelmente, equivocados;
* Fechamento em um arquivo .csv.

Observe que as queries a partir daqui, já considerarão apenas as entradas cujo ano de registro pertence ao período de 1900 a 2020 que definimos para o DataFrame anterior

**Variações de faixa de preço pelo tipo de veículo**

Os dados relevantes são os tipos de veículo e seus respectivos preços

In [0]:
#Coletando dados:
df2 = pd.read_sql('SELECT vehicletype, price FROM usedcars WHERE yearofregistration BETWEEN 1900 AND 2020;',
                 conn)

print(df2)

       vehicletype    price
0             None    480.0
1            coupe  18300.0
2              suv   9800.0
3       kleinwagen   1500.0
4       kleinwagen   3600.0
5        limousine    650.0
6           cabrio   2200.0
7        limousine      0.0
8              bus  14500.0
9       kleinwagen    999.0
10       limousine   2000.0
11           kombi   2799.0
12           kombi    999.0
13           kombi   2500.0
14             suv  17999.0
15      kleinwagen    450.0
16            None    300.0
17      kleinwagen   1750.0
18             bus   7550.0
19             bus   1850.0
20           coupe  10400.0
21       limousine   3699.0
22            None   2900.0
23      kleinwagen    450.0
24       limousine    500.0
25           kombi   2500.0
26            None   5555.0
27       limousine   6900.0
28             bus   1990.0
29      kleinwagen    690.0
...            ...      ...
189228   limousine    699.0
189229  kleinwagen    600.0
189230   limousine  20400.0
189231         bus   3900.0
189232       kombi   1600.0
189233  kleinwagen   1700.0
189234        None   2600.0
189235       kombi    800.0
189236   limousine   5900.0
189237       kombi   5999.0
189238   limousine   1400.0
189239        None   1900.0
189240   limousine   6500.0
189241   limousine   1999.0
189242   limousine   5000.0
189243   limousine   4400.0
189244      cabrio    999.0
189245       kombi   1690.0
189246  kleinwagen   1490.0
189247   limousine   7900.0
189248       kombi   3999.0
189249        None   5250.0
189250   limousine   3200.0
189251         bus   1150.0
189252        None      0.0
189253        None   2200.0
189254      cabrio   1199.0
189255         bus   9200.0
189256       kombi   3400.0
189257   limousine  28990.0

[189258 rows x 2 columns]

In [0]:
#Neste caso, aparentemente não precisamos fazer uma limpeza, vamos direto para o salvamento:
df2.to_csv('../data/df2_vehicleprice.csv', sep = ';', index = False)

**Contagem total de veículos à venda conforme tipo de veículo**

Os dados relevantes são os tipos de veículos e a contagem de registros associados a cada um destes

In [0]:
#Coletando dados:
df3 = pd.read_sql('SELECT vehicletype, COUNT(*) AS vehiclecount FROM usedcars WHERE yearofregistration BETWEEN 1900 AND 2020 GROUP BY vehicletype;',
                  conn)

print(df3)

  vehicletype  vehiclecount
0      andere          1708
1         bus         15532
2      cabrio         11668
3       coupe          9635
4  kleinwagen         40759
5       kombi         34498
6   limousine         48701
7         suv          7411
8        None         19346

In [0]:
#Salvando DataFrame
df3.to_csv('../data/df3_vehiclecount.csv', sep = ';', index = False)

**Nº de veículos por marcas**

Os dados relevantes são as marcas de veículos e a contagem de registros associados a cada um

In [0]:
#Coletando dados:
df4 = pd.read_sql('SELECT brand, COUNT(*) AS brandcount FROM usedcars WHERE yearofregistration BETWEEN 1900 AND 2020 GROUP BY brand',
                 conn)

print(df4)

             brand  brandcount
0       alfa_romeo        1184
1             audi       16674
2              bmw       20540
3        chevrolet         923
4         chrysler         745
5          citroen        2633
6            dacia         455
7           daewoo         283
8         daihatsu         400
9             fiat        4935
10            ford       13090
11           honda        1429
12         hyundai        1830
13          jaguar         303
14            jeep         406
15             kia        1280
16            lada          98
17          lancia         243
18      land_rover         388
19           mazda        2941
20   mercedes_benz       17925
21            mini        1708
22      mitsubishi        1519
23          nissan        2564
24            opel       20416
25         peugeot        5695
26         porsche        1141
27         renault        9144
28           rover         262
29            saab         261
30            seat        3531
31           skoda        2922
32           smart        2759
33  sonstige_autos        1966
34          subaru         400
35          suzuki        1195
36          toyota        2385
37         trabant         294
38      volkswagen       40670
39           volvo        1721

In [0]:
#Este também aparentemente não precisa de limpeza.
#Salvando DataFrame:

df4.to_csv('../data/df4_brandcount.csv', sep = ';', index = False)

**Preço médio com base no tipo de veículo, bem como no tipo de caixa de câmbio**

Os dados relevantes são os ipos de veículos, suas respectivaas caixas de câmbio e preços

In [0]:
#Coletando dados:
df5 = pd.read_sql('SELECT vehicletype, gearbox, price FROM usedcars WHERE yearofregistration BETWEEN 1900 AND 2020;',
                 conn)

print(df5)

       vehicletype    gearbox    price
0             None    manuell    480.0
1            coupe    manuell  18300.0
2              suv  automatik   9800.0
3       kleinwagen    manuell   1500.0
4       kleinwagen    manuell   3600.0
5        limousine    manuell    650.0
6           cabrio    manuell   2200.0
7        limousine    manuell      0.0
8              bus    manuell  14500.0
9       kleinwagen    manuell    999.0
10       limousine    manuell   2000.0
11           kombi    manuell   2799.0
12           kombi    manuell    999.0
13           kombi    manuell   2500.0
14             suv    manuell  17999.0
15      kleinwagen       None    450.0
16            None       None    300.0
17      kleinwagen  automatik   1750.0
18             bus    manuell   7550.0
19             bus    manuell   1850.0
20           coupe    manuell  10400.0
21       limousine  automatik   3699.0
22            None    manuell   2900.0
23      kleinwagen    manuell    450.0
24       limousine    manuell    500.0
25           kombi  automatik   2500.0
26            None    manuell   5555.0
27       limousine    manuell   6900.0
28             bus    manuell   1990.0
29      kleinwagen    manuell    690.0
...            ...        ...      ...
189228   limousine    manuell    699.0
189229  kleinwagen    manuell    600.0
189230   limousine  automatik  20400.0
189231         bus  automatik   3900.0
189232       kombi    manuell   1600.0
189233  kleinwagen    manuell   1700.0
189234        None  automatik   2600.0
189235       kombi    manuell    800.0
189236   limousine    manuell   5900.0
189237       kombi    manuell   5999.0
189238   limousine    manuell   1400.0
189239        None    manuell   1900.0
189240   limousine  automatik   6500.0
189241   limousine    manuell   1999.0
189242   limousine  automatik   5000.0
189243   limousine    manuell   4400.0
189244      cabrio    manuell    999.0
189245       kombi    manuell   1690.0
189246  kleinwagen    manuell   1490.0
189247   limousine    manuell   7900.0
189248       kombi    manuell   3999.0
189249        None  automatik   5250.0
189250   limousine    manuell   3200.0
189251         bus    manuell   1150.0
189252        None    manuell      0.0
189253        None       None   2200.0
189254      cabrio  automatik   1199.0
189255         bus    manuell   9200.0
189256       kombi    manuell   3400.0
189257   limousine    manuell  28990.0

[189258 rows x 3 columns]

In [0]:
#Salvando DataFrame
df5.to_csv('../data/df5_vehicle_gearbox_price.csv', sep = ';', index = False)

 **Preço médio do veículo por tipo de combustível e caixa de câmbio**

Os dados relevantes são os tipos de veículos, seus tipos de caixa de câmbio e tipos de combustível

In [0]:
#Coletando dados:
df6 = pd.read_sql('SELECT fueltype, gearbox, price FROM usedcars WHERE yearofregistration BETWEEN 1900 AND 2020;',
                 conn)

print(df6)

       fueltype    gearbox    price
0        benzin    manuell    480.0
1        diesel    manuell  18300.0
2        diesel  automatik   9800.0
3        benzin    manuell   1500.0
4        diesel    manuell   3600.0
5        benzin    manuell    650.0
6        benzin    manuell   2200.0
7        benzin    manuell      0.0
8        benzin    manuell  14500.0
9          None    manuell    999.0
10       benzin    manuell   2000.0
11       diesel    manuell   2799.0
12       benzin    manuell    999.0
13         None    manuell   2500.0
14       diesel    manuell  17999.0
15       benzin       None    450.0
16       benzin       None    300.0
17       benzin  automatik   1750.0
18       diesel    manuell   7550.0
19       benzin    manuell   1850.0
20       benzin    manuell  10400.0
21       benzin  automatik   3699.0
22       benzin    manuell   2900.0
23       benzin    manuell    450.0
24       benzin    manuell    500.0
25       diesel  automatik   2500.0
26         None    manuell   5555.0
27       benzin    manuell   6900.0
28       benzin    manuell   1990.0
29       benzin    manuell    690.0
...         ...        ...      ...
189228   benzin    manuell    699.0
189229   benzin    manuell    600.0
189230   benzin  automatik  20400.0
189231   benzin  automatik   3900.0
189232   benzin    manuell   1600.0
189233   benzin    manuell   1700.0
189234     None  automatik   2600.0
189235   benzin    manuell    800.0
189236   diesel    manuell   5900.0
189237   diesel    manuell   5999.0
189238   benzin    manuell   1400.0
189239     None    manuell   1900.0
189240   diesel  automatik   6500.0
189241   benzin    manuell   1999.0
189242   diesel  automatik   5000.0
189243   diesel    manuell   4400.0
189244   benzin    manuell    999.0
189245   benzin    manuell   1690.0
189246   benzin    manuell   1490.0
189247   diesel    manuell   7900.0
189248   diesel    manuell   3999.0
189249     None  automatik   5250.0
189250   benzin    manuell   3200.0
189251   benzin    manuell   1150.0
189252   benzin    manuell      0.0
189253     None       None   2200.0
189254   benzin  automatik   1199.0
189255   diesel    manuell   9200.0
189256   diesel    manuell   3400.0
189257   benzin    manuell  28990.0

[189258 rows x 3 columns]

In [0]:
#Salvando dados:
df6.to_csv('../data/df6_fueltype_gearbox_price.csv', sep = ';', index = False)

**Potência Média por tipo de veículo e caixa de câmbio**

Os dados relevantes são os tipos de veículos, suas respectivas caixas de câmbio e potências

In [0]:
#Coletando dados:
df7 = pd.read_sql('SELECT vehicletype, gearbox, powerps FROM usedcars WHERE yearofregistration BETWEEN 1900 AND 2020;',
                 conn)

print(df7)

       vehicletype    gearbox  powerps
0             None    manuell      0.0
1            coupe    manuell    190.0
2              suv  automatik    163.0
3       kleinwagen    manuell     75.0
4       kleinwagen    manuell     69.0
5        limousine    manuell    102.0
6           cabrio    manuell    109.0
7        limousine    manuell     50.0
8              bus    manuell    125.0
9       kleinwagen    manuell    101.0
10       limousine    manuell    105.0
11           kombi    manuell    140.0
12           kombi    manuell    115.0
13           kombi    manuell    131.0
14             suv    manuell    190.0
15      kleinwagen       None      0.0
16            None       None     60.0
17      kleinwagen  automatik     75.0
18             bus    manuell    136.0
19             bus    manuell    102.0
20           coupe    manuell    160.0
21       limousine  automatik    231.0
22            None    manuell     90.0
23      kleinwagen    manuell     50.0
24       limousine    manuell    118.0
25           kombi  automatik    193.0
26            None    manuell    125.0
27       limousine    manuell     99.0
28             bus    manuell     50.0
29      kleinwagen    manuell     60.0
...            ...        ...      ...
189228   limousine    manuell    101.0
189229  kleinwagen    manuell     54.0
189230   limousine  automatik    150.0
189231         bus  automatik    174.0
189232       kombi    manuell    125.0
189233  kleinwagen    manuell     68.0
189234        None  automatik      0.0
189235       kombi    manuell    101.0
189236   limousine    manuell    105.0
189237       kombi    manuell    140.0
189238   limousine    manuell    125.0
189239        None    manuell    110.0
189240   limousine  automatik    145.0
189241   limousine    manuell    150.0
189242   limousine  automatik    260.0
189243   limousine    manuell    105.0
189244      cabrio    manuell     95.0
189245       kombi    manuell     55.0
189246  kleinwagen    manuell     50.0
189247   limousine    manuell    140.0
189248       kombi    manuell      3.0
189249        None  automatik    150.0
189250   limousine    manuell    225.0
189251         bus    manuell      0.0
189252        None    manuell      0.0
189253        None       None      0.0
189254      cabrio  automatik    101.0
189255         bus    manuell    102.0
189256       kombi    manuell    100.0
189257   limousine    manuell    320.0

[189258 rows x 3 columns]

In [0]:
#Salvando DataFrame
df7.to_csv('../data/df7_vehicle_gearbox_price.csv', sep = ';', index = False)

In [0]:
conn.close()